<% require 'filesize' %>
<% if @ticket.title %>
  <h5><%= @ticket.title %></h5>
<% end %>
<ul>
   <li>Created by: <%= @ticket.userid %></li>
   <li>Created: <%= @ticket.created_at.to_s%></li>
   <li>Expiry date: <%= @ticket.expirydate.to_s %></li> 
</ul>
<% if @ticket.files.size > 0  %>
<h4>Files</h4>
<table style="width:100%">
  <tr>
    <th>Filename</th>
    <th>Size</th>
    <th>Date</th>
  </tr>

  <% @ticket.files.sort.each do |f| %>
  <tr>
  <td><a href="/tickets/<%= File.join(@ticket.uuid, File.basename(f)) %>/download"><%= File.basename(f) %></a> </td>
  <td><%= Filesize.new(File.stat(f).size()).pretty %></td>
  <td><%= File.stat(f).mtime.asctime %></td>
  </tr>
<% end %>
</table>
<% if @ticket.files.size > 1  %>
<br>
<b>Total size: </b> <%= Filesize.new(dirsize(@ticket.directory)).pretty %>
<% end %>
<% end %>
<% if @ticket.files.size > 1 %>
<br><br>
<h4>Download all</h4>
All files can be downloaded as a tar archive:<br>
<a href=/tickets/<%= @ticket.uuid %>/downloadarchive>Download all files as archive.</a><br>
From the command line:<br>
<pre>
curl -O -J https://<%= request.env["HTTP_HOST"] %>/tickets/<%= @ticket.uuid %>/downloadarchive
</pre>
Note that downloading individual files is more performant than downloading as
archive.
<% end %>

<% if @ticket.allow_uploads %>
<h4>Upload</h4>
<form id="uploadform" method="POST" action="/tickets/<%= @ticket.uuid %>/upload" enctype='multipart/form-data'  >
                <input id="fn" type="file" name="filename">
                <input type="submit" value="Upload">
</form>

<h5>Command line upload</h5>
You can also use e.g. curl to upload files, for example:
<pre>
curl -i -X POST -H "Content-Type: multipart/form-data" -F "filename=@FILENAME" \
https://<%= request.env["HTTP_HOST"] %>/tickets/<%= @ticket.uuid %>/upload
</pre>
where FILENAME is the path to the file you wish to upload.
<% end %>


